/* VARIABLES */

:root {
    --darkViolet: rgb(69, 18, 73);
}

/* PAGE STYLES */

html,
body {
    width: 100vw;
    height: 100vh;
}

/* COMMON STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* MAIN STYLES */

body {
    background-image: url("../assets/table-top-with-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.main-container {
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2.5rem;
}

/* HEADER SYLES */

.main-title {
    color: var(--darkViolet);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* STATS STYLES */

.control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 33rem;
    background-color: var(--darkViolet);
    border: 3px solid rgba(255, 255, 255, 0.5);
    color: white;
}

.control-stats-container,
.control-icons-container {
    display: flex;
}

.control-stats-container>*,
.control-icons-container>* {
    margin: 0.5em;
}

/* GRID STYLES */

.grid-container {
    width: 33rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(114, 98, 69, 0.5);
    justify-content: center;
    align-items: center;
}

.grid-container>* {
    margin: 0.5rem;
}

.grid-container img {
    width: 100%;
}

/* CLOCK STYLES */

.clock-container {
    color: #fff;
    background-color: var(--darkViolet);
    padding: 0.75em 1em;
    border-radius: 30px;
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 1.2rem;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.fa-hourglass {
    margin-right: 1em;
}


/* Sweet Alert styles  */

.swal-overlay {
    background-color: rgba(178, 146, 214, 0.45);
}

.swal-modal {
    background-color: rgb(240, 241, 241);
    border: 3px solid #afa292;
    font-family: 'Quicksand', sans-serif;
}

.swal-title {
    font-size: 1.5rem;
    font-weight: 700;

    color: var(--darkViolet);
}

.swal-text {
    font-size: 1rem;
    font-weight: 500;
    display: block;
    text-align: center;
    color: #61534e;
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #ead9c4;
    color: var(--darkViolet);
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba(128, 95, 128, 0.3);
    font-size: 1rem;
}

.swal-button:hover {
    background-color: #ead0c4 !important;
    box-shadow: 0px 2px 5px 0px rgba(128, 95, 128, 0.5);
}

.swal-button:focus {
    box-shadow: 0px 2px 5px 0px rgba(128, 95, 128, 0.3);
}

/* MEDIA QUERIES */

@media (max-width: 600px) {

    .main-container,
    .grid-container,
    .control-container {
        width: 100%;
    }

    .main-container {
        padding: 1rem;
    }
}

@media (max-width: 450px) {
    .clock-container {
        font-size: 1rem;
    }

}

@media (max-width: 320px) {
    .main-container {
        padding: 0.5rem;
    }

    .control-container {
        flex-wrap: wrap;
    }

    .main-title {
        font-size: 2rem;
    }
}